<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="vatACARS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <userSettings>
    <vatACARS.Properties.Settings>
      <setting name="hoppiesLogonCode" serializeAs="String">
        <value />
      </setting>
      <setting name="enableHoppies" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="auralAlertVolume" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="finishedMessageTimeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="vatACARSToken" serializeAs="String">
        <value />
      </setting>
      <setting name="stationCode" serializeAs="String">
        <value />
      </setting>
    </vatACARS.Properties.Settings>
  </userSettings>
</configuration>